<a href="https://colab.research.google.com/github/iT4lloEdw/Phyton/blob/main/Listas_Map%2C_Pop%2C_Remove_e_etc_04_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nomes = ['ze','tiao']
nomes.append('regi')
nomes

#Vários valores
outrosNomes = ['ana', 'naldo']

nomes.extend(outrosNomes)

nomes

nomes.remove("ana")

nomes

['ze', 'tiao', 'regi', 'naldo']

In [ ]:
#Crie uma lista de números e
numeros = [2, 4, 6, 8, 5, 6]
#remova o primeiro elemento da lista
#remova o ultimo elemento da lista

numeros.remove(2)
numeros

numeros.pop()
numeros

[4, 6, 8, 5]

In [ ]:
#1- crie uma lista de notas, e exiba-a da menor para o maior
notas = [2,10, 9, 4, 7, 3, 8]
nomes = ['Ademar', 'Maristênio', 'Asdrúbal', 'Leo']
notas.sort()
nomes.sort(reverse=True)

#2- crie uma lista de nomes de frutas e ordene-a em ordem decrescente

nomes

['Maristênio', 'Leo', 'Asdrúbal', 'Ademar']

In [ ]:
#Exemplo função map - cria uma nova lista com o dobro
numeros = [2, 4, 6, 3]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[4, 8, 12, 6]

In [ ]:
#pegar cada um dos número e dividir por 3
numeros = [2, 4, 6, 3]
nova_lista = list(map(lambda x : x/3, numeros))
nova_lista

[0.6666666666666666, 1.3333333333333333, 2.0, 1.0]

In [ ]:
#pega cada numero e soma 2
numeros = [4, 6, 8, 10]
nums = list(map(lambda x : x+2, numeros))
nums

[6, 8, 10, 12]

In [ ]:
#Exemplo função filter - a partir de uma lista de nomes,

nomes = ['josé', 'joão', 'sebastião', 'angélica', 'barbára']

new_list = list(filter(lambda x : len(x)>6, nomes))
new_list

['sebastião', 'angélica', 'barbára']

In [ ]:
#criem uma lista de notas, imprime as maiores que 6

notas = [7, 4, 8, 2, 9]

notasNum = list(filter(lambda x : x>6, notas))
notasNum

[7, 8, 9]

In [ ]:
#Dada uma lista de números, retorne uma lista contendo o quadrado de cada número.

numeros = [2, 4, 6, 8]

nums = list(map(lambda n : n*2, numeros))
nums

[4, 8, 12, 16]

In [ ]:
#Dada uma lista de nomes, retorne uma lista contendo o tamanho de cada nome.

nomes = ['Reginaldo', 'Manoel', 'Zeca']

nomesList = list(map(lambda n : len(n), nomes))
nomesList

[9, 6, 4]

In [65]:
#Dada uma lista de números, retorne uma lista contendo apenas os números pares.

nume = [2,5,6,7]

numeros = list(filter(lambda n : n%2==0, nume))
numeros

[2, 6]

In [67]:
#Dada uma lista de nomes, retorne uma lista contendo apenas os nomes que começam com a letra "A".

nomes = ['Aranha', 'Gari', 'Aderbal', 'Bola']

noms = list(filter(lambda n : n[0] == 'A', nomes))
noms

['Aranha', 'Aderbal']

In [68]:
#Recebe uma lista com notas de alunos, retorna apenas os aprovados (nota maior ou igual a 7)

notas = [5, 7, 8, 0, 9]

notAlun = list(filter(lambda n : n>7, notas))
notAlun

[8, 9]